Port 2222
ListenAddress 0.0.0.0

AuthenticationMethods none
PermitEmptyPasswords yes
PasswordAuthentication yes
PubkeyAuthentication no
PermitRootLogin yes
StrictModes no

LogLevel INFO
SyslogFacility AUTH